<h1>Pirate name is <%= @pirate.name %></h1>
<h1>Pirate weight is <%= @pirate.weight %></h1>

<h1>Pirate height is <%= @pirate.height %></h1>

<h2>First ship name is <%= params["pirate"]["ships"][0]["name"] %></h2>
<h2>First ship name is <%= params["pirate"]["ships"][0]["type"] %></h2>
<h2>First ship name is <%= params["pirate"]["ships"][0]["booty"] %></h2>

<h2>Second ship name is <%= params["pirate"]["ships"][1]["name"] %></h2>
<h2>Second ship name is <%= params["pirate"]["ships"][1]["type"] %></h2>
<h2>Second ship name is <%= params["pirate"]["ships"][1]["booty"] %></h2>
